 * {
     padding: 0;
     margin: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 body {
     background-image: url(./img/board-03.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }


 h1 {
     color: #212121;
     font-size: 50px;
     font-family: 'Raleway', sans-serif;
 }

 #searchBar i {
     font-size: 20px;
     color: #212121;
     cursor: pointer;
 }

 span {
     font-size: 40px;
     color: #212121;
     padding-left: 40px;
     font-family: 'Raleway', sans-serif;
 }

 .header{
     padding-top: 10rem;
     min-height: 600px;
     height: auto;
 }

 #links {
     height: 50px;
     width: 600px;
     text-align: center;
 }

 #menu a {
     height: 20px;
     margin-top: 10px;
     padding: 20px;
     letter-spacing: 2px;
     font-size: 1.1em;
     color: #212121;
     text-decoration: none;
     font-family: 'Titillium Web', sans-serif;
 }

 #box1,
 #box2,
 #box3 {
     height: 300px;
     width: 300px;
     font-size: 1.2em;
     color: #fff;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #box1:hover,
 #box2:hover,
 #box3 :hover {
     opacity: 0.8;
     cursor: pointer;
 }


 .section {
    background-color: #0a0000d2;
 }

 #location i {
     color: #fff;
     text-align: left;
     font-size: 25px;
 }

 #location h4 {
     font-size: 1.4em;
     color: #fff;
     text-align: left;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 #location p {
     font-size: 1.2em;
     color: #fff;
     text-align: left;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #location p {
     font-size: 1.2em;
     color: #fff;
     text-align: left;
     padding-top: -8px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

#contact h4 {
     font-size: 1.4em;
     color: #fff;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     padding: 10px;

 }

 #contact i {
     color: #fff;
     padding: 3px;
     font-size: 18x;
     letter-spacing: 1px;

 }

 #icons-net {
     width: 300px;
     height: 50px;

 }

 #icons-net i {
     color: #fff;
     font-size: 25px;
     cursor: pointer;

 }

 #icons-net i:hover {
     opacity: 0.6;
 }

 /*.inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    height: 80px;
    background-color: #0b6c99e7;
}

 /*.inform h5 {
     font-size: 1.2em;
     text-align: center;
     color: #fff;
     letter-spacing: 0.5px;
     margin-top: -20px;
     margin-bottom: -40px;
     text-align: center;
 }

 .inform form {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     color: #fff;
 }

 .inform input {
     padding: 10px;
     border: 0.5px solid;
     border-radius: 4px;
     margin-top: 40px;
     cursor: pointer;
     margin-bottom: 10px;
     width: 300px;
     height: 30px;
     background-color: initial;
     color: #fff;
 }

 .inform input:hover {
     opacity: 0.6;
 }

 ::-webkit-input-placeholder {
     color: #fff;
     letter-spacing: 1px;
 }

 .inform button {
     padding: 20px;
     border: 0.5px solid;
     border-radius: 4px;
     width: 150px;
     margin-bottom: 10px;
     margin-top: 40px;
     height: 52px;
     background-color: initial;
     cursor: pointer;
     color: #fff;
     letter-spacing: 1px;
 }

 .inform button:hover {
     opacity: 0.6;
 }

 #ft {
     height: auto;
     width: auto;
     display: flex;
     margin-right: -10px;
     margin-left: -10px;
 }

 #ft p {
     color: #fff;
     font-size: 0.9em;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
 }
 */